.modalBackground{
    background-color: #dad6d6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.modalContainer{
    background-color: rgba(250, 250, 250, 0.998);
    color: black;
    position: absolute;
    height: 500px;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: #ebe6e6;
    box-shadow: inset -15px -15px 41px #8f9292,
            inset 15px 15px 41px #ffffff
}
.imag{
    height: 100px;
    width: 100px;
    margin-bottom: -20px;
    border-radius: 50%;
    background: url("https://i.pinimg.com/564x/3c/07/40/3c0740017fa1c2ca4b529179ef1ffb08.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: inset -5px -5px 10px #8f9292,
            inset 5px 5px 10px #ffffff;
}
.slogan{
    font-size: 0.6em;
    margin-top: -20px;
}
.modalContainer input{
    margin: 10px 30px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #ebe6e6;
    box-shadow: inset 5px 5px 10px #aca8a8,
            inset -5px -5px 10px #ffffff;
}
.modalContainer button{
    margin: 10px 30px;
    padding: 12px;
    width: 65%;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #ebe6e6;
    box-shadow: inset -5px -5px 10px #928f8f,
            inset 5px 5px 10px #ffffff;

}
.modalContainer p{
    font-size: 0.5em;
}
